#block-main{background-color:#FFF}#headerbar{background-color:#FFF}#content{border:1px
solid #eee}#menubar,#content,.mod-box{border:1px
solid #eee}.mod-box-color1 .menu-sidebar li.level1,
.mod-box-color1 .menu-sidebar li.level1 .level1:hover,
.mod-box-color1 .menu-sidebar li.level1.active,
.mod-box-color2 .menu-sidebar li.level1,
.mod-box-color2 .menu-sidebar li.level1 .level1:hover,
.mod-box-color2 .menu-sidebar
li.level1.active{border:none!important}.mod-box-color1 .menu-sidebar a.level1,
.mod-box-color1 .menu-sidebar span.level1,
.mod-box-color2 .menu-sidebar a.level1,
.mod-box-color2 .menu-sidebar
span.level1{border:none;background:url("/capbox/templates/yoo_downtown/images/menu_sidebar_level1_ie.png") 0 0 repeat-x}.mod-box-color1 .menu-sidebar .level1 .level1:hover,
.mod-box-color2 .menu-sidebar .level1 .level1:hover{background-position:0 -80px;background-color:none}.mod-box-color1 .menu-sidebar .active .level1,
.mod-box-color1 .menu-sidebar .active .level1:hover,
.mod-box-color2 .menu-sidebar .active .level1,
.mod-box-color2 .menu-sidebar .active .level1:hover{background-position:0 -160px;background-color:transparent}.mod-box-color1 .menu-sidebar ul.level2,
.mod-box-color2 .menu-sidebar
ul.level2{border:none}ul.line-icon>li{border-top:1px dashed #ccc;background:url("/capbox/templates/yoo_downtown/images/list_line_icon.png") 0 0 no-repeat}#block-bottom ul.line-icon>li{border-top-color:#666;background:url("/capbox/templates/yoo_downtown/images/list_line_icon.png") 0 0 no-repeat}.mod-box-color1 ul.line-icon > li,
.mod-box-color2 ul.line-icon>li{border-top-color:#fff;background:url("/capbox/templates/yoo_downtown/images/list_line_icon.png") 0 0 no-repeat}#page ul.line-icon>li:first-child{border-top:none;background:url("/capbox/templates/yoo_downtown/images/list_line_icon.png") 0 0 no-repeat}ul.line-icon li:hover,
#block-bottom ul.line-icon li:hover{background:url("/capbox/templates/yoo_downtown/images/list_line_icon.png") 0 -200px no-repeat}table.zebra tbody
tr{background:#efefef}table.zebra tfoot
tr{background:#f1f1f1}#searchbox
input{line-height:30px}