<!--

.wa-aligned-button-form {
	display: inline;
    zoom: 1;
}

.wa-gallery-arrow-right {width:30px;height:30px; background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='wa_fancybox/fancy_nav_right.png', sizingMethod='scale'); }
.wa-gallery-arrow-left { width:30px;height:30px;background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='wa_fancybox/fancy_nav_left.png'); }

-->
